<!-- Header -->
<header class="homepage_topsection_header">
  <div class="container">
      <div class="intro-text">
          <div class="intro-lead-in">{{settings.homepage_slideshow_1_header}}</div>
          <div class="intro-heading">{{settings.homepage_slideshow_1_subheader}}</div>
          <a href="{{settings.homepage_slideshow_1_buttonlink}}" class="page-scroll btn btn-xl">{{settings.homepage_slideshow_1_buttontext}}</a>
      </div>
  </div>
</header>